@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,500;0,700;1,400&display=swap');

body {
    font-family: 'Montserrat', sans-serif;
    margin-top: 200px;
}

.main-div {
    text-align: center;
}

.game {
    display: grid;
    grid-template-columns: repeat(3,auto);
    width: 300px;
    margin: 50px auto;
}

.box {
    font-family: 'Arial', sans-serif;
    width: 100px;
    height: 100px;
    border: 1px solid black;
    cursor: pointer;
    line-height: 100px;
    font-size: 60px;
}

.box:hover{
    background-color:rgba(223, 223, 223, 0.3);
}